+<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

<h1 align=center><font size = 5>Assignment: Notebook for Peer Assignment</font></h1>

# Introduction

Using this Python notebook you will:

1.  Understand three Chicago datasets
2.  Load the three datasets into three tables in a SQLIte database
3.  Execute SQL queries to answer assignment questions

## Understand the datasets

To complete the assignment problems in this notebook you will be using three datasets that are available on the city of Chicago's Data Portal:

1.  <a href="https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Socioeconomic Indicators in Chicago</a>
2.  <a href="https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Public Schools</a>
3.  <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Crime Data</a>

### 1. Socioeconomic Indicators in Chicago

This dataset contains a selection of six socioeconomic indicators of public health significance and a “hardship index,” for each Chicago community area, for the years 2008 – 2012.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2](https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 2. Chicago Public Schools

This dataset shows all school level performance data used to create CPS School Report Cards for the 2011-2012 school year. This dataset is provided by the city of Chicago's Data Portal.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 3. Chicago Crime Data

This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2](https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### Download the datasets

This assignment requires you to have these three tables populated with a subset of the whole datasets.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the links below to download and save the datasets (.CSV files):

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" target="_blank">Chicago Census Data</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" target="_blank">Chicago Public Schools</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" target="_blank">Chicago Crime Data</a>

**NOTE:** Ensure you have downloaded the datasets using the links above instead of directly from the Chicago Data Portal. The versions linked here are subsets of the original datasets and have some of the column names modified to be more database friendly which will make it easier to complete this assignment.

### Store the datasets in database tables

To analyze the data using SQL, it first needs to be loaded into SQLite DB.
We will create three tables in as under:

1.  **CENSUS_DATA**
2.  **CHICAGO_PUBLIC_SCHOOLS**
3.  **CHICAGO_CRIME_DATA**

Let us now load the ipython-sql  extension and establish a connection with the database

* Here you will be loading the csv files into the pandas Dataframe and then loading the data into the above mentioned sqlite tables.

* Next you will be connecting to the sqlite database  **FinalDB**.

Refer to the previous lab for hints .

<a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing_SQLite.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

In [12]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [13]:
import csv, sqlite3

con = sqlite3.connect("socioeconomic.db")
cur = con.cursor()

In [14]:
!pip install -q pandas==1.1.5

In [15]:

%sql sqlite:///socioeconomic.db

'Connected: @socioeconomic.db'

In [29]:
import pandas

df1 = pandas.read_csv('https://data.cityofchicago.org/resource/kn9c-c2s2.csv')
df1.to_sql("chicago_socioeconomic_data", con, if_exists='replace', index=False,method="multi")

df2 = pandas.read_csv('https://data.cityofchicago.org/resource/ijzp-q8t2.csv')
df2.to_sql("chicago_crime_data", con, if_exists='replace', index=False,method="multi")

df3 = pandas.read_csv('https://data.cityofchicago.org/resource/9xs2-f89t.csv')
df3.to_sql("chicago_public_school", con, if_exists='replace', index=False,method="multi")

df1

ModuleNotFoundError: No module named 'pandas.io.formats.string'

ImportError: cannot import name 'TableFormatter' from 'pandas.io.formats.format' (/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/pandas/io/formats/format.py)

## Problems

Now write and execute SQL queries to solve assignment problems

### Problem 1

##### Find the total number of crimes recorded in the CRIME table.

In [30]:
%%sql
SELECT COUNT (*) FROM chicago_crime_data

 * sqlite:///socioeconomic.db
Done.

[(1000,)]

### Problem 2

##### List community areas with per capita income less than 11000.

In [31]:
%%sql
SELECT community_area_name FROM chicago_socioeconomic_data WHERE per_capita_income_ < 11000

 * sqlite:///socioeconomic.db
Done.

[('West Garfield Park',),
 ('South Lawndale',),
 ('Fuller Park',),
 ('Riverdale',)]

### Problem 3

##### List all case numbers for crimes  involving minors?(children are not considered minors for the purposes of crime analysis)

In [19]:
%%sql
SELECT primary_type, description FROM chicago_crime_data WHERE description LIKE '%minor%'

 * sqlite:///socioeconomic.db
Done.

[('BATTERY', 'AGGRAVATED P.O. - HANDS, FISTS, FEET, NO / MINOR INJURY'),
 ('BATTERY', 'AGGRAVATED P.O. - HANDS, FISTS, FEET, NO / MINOR INJURY'),
 ('BATTERY', 'AGGRAVATED - HANDS, FISTS, FEET, NO / MINOR INJURY'),
 ('BATTERY', 'AGGRAVATED - HANDS, FISTS, FEET, NO / MINOR INJURY'),
 ('BATTERY', 'AGGRAVATED - HANDS, FISTS, FEET, NO / MINOR INJURY'),
 ('BATTERY', 'PROTECTED EMPLOYEE - HANDS, FISTS, FEET, NO / MINOR INJURY')]

### Problem 4

##### List all kidnapping crimes involving a child?

In [20]:
%%sql
SELECT primary_type, description FROM chicago_crime_data WHERE primary_type = 'KIDNAPPING' AND description LIKE '%child%'

 * sqlite:///socioeconomic.db
Done.

[]

### Problem 5

##### What kinds of crimes were recorded at schools?

In [21]:
%%sql
SELECT primary_type, description, location_description FROM chicago_crime_data WHERE location_description LIKE '%school%'

 * sqlite:///socioeconomic.db
Done.

[('BATTERY', 'SIMPLE', 'SCHOOL - PRIVATE BUILDING'),
 ('BATTERY', 'SIMPLE', 'SCHOOL - PUBLIC GROUNDS'),
 ('ASSAULT', 'SIMPLE', 'SCHOOL - PUBLIC BUILDING'),
 ('BATTERY', 'SIMPLE', 'SCHOOL - PUBLIC GROUNDS'),
 ('BATTERY', 'SIMPLE', 'SCHOOL - PUBLIC GROUNDS'),
 ('BATTERY', 'SIMPLE', 'SCHOOL - PUBLIC GROUNDS'),
 ('THEFT', 'ATTEMPT THEFT', 'SCHOOL - PUBLIC BUILDING'),
 ('BATTERY', 'SIMPLE', 'SCHOOL - PUBLIC GROUNDS'),
 ('BATTERY', 'SIMPLE', 'SCHOOL - PRIVATE GROUNDS'),
 ('BATTERY', 'SIMPLE', 'SCHOOL - PUBLIC GROUNDS'),
 ('OFFENSE INVOLVING CHILDREN', 'CHILD ABUSE', 'SCHOOL - PUBLIC GROUNDS'),
 ('SEX OFFENSE', 'CRIMINAL SEXUAL ABUSE', 'SCHOOL - PUBLIC BUILDING'),
 ('BATTERY', 'AGGRAVATED - HANDS, FISTS, FEET, SERIOUS INJURY', 'SCHOOL - PRIVATE GROUNDS'),
 ('BATTERY', 'SIMPLE', 'SCHOOL - PUBLIC BUILDING'),
 ('BATTERY', 'SIMPLE', 'SCHOOL - PUBLIC GROUNDS'),
 ('BATTERY', 'PROTECTED EMPLOYEE - HANDS, FISTS, FEET, NO / MINOR INJURY', 'SCHOOL - PUBLIC BUILDING'),
 ('BATTERY', 'SIMPLE', 'SCHOOL - PUBLIC BUILDING'),
 ('BATTERY', 'SIMPLE', 'SCHOOL - PUBLIC BUILDING'),
 ('BATTERY', 'SIMPLE', 'SCHOOL - PUBLIC BUILDING'),
 ('PUBLIC PEACE VIOLATION', 'RECKLESS CONDUCT', 'SCHOOL - PUBLIC GROUNDS'),
 ('ASSAULT', 'SIMPLE', 'SCHOOL - PUBLIC GROUNDS')]

### Problem 6

##### List the average safety score for each type of school.

In [22]:
%%sql
SELECT healthy_schools_certified_, AVG(SAFETY_SCORE) FROM chicago_public_school GROUP BY healthy_schools_certified_;

 * sqlite:///socioeconomic.db
Done.

[('No', 49.23), ('Yes', 60.07692307692308)]

### Problem 7

##### List 5 community areas with highest % of households below poverty line

In [32]:
%%sql
SELECT community_area_name, percent_households_below_poverty FROM chicago_socioeconomic_data ORDER BY percent_households_below_poverty DESC LIMIT 5;

 * sqlite:///socioeconomic.db
Done.

[('Riverdale', 56.5),
 ('Fuller Park', 51.2),
 ('Englewood', 46.6),
 ('North Lawndale', 43.1),
 ('East Garfield Park', 42.4)]

### Problem 8

##### Which community area is most crime prone?

In [48]:
%%sql
SELECT chicago_socioeconomic_data.ca AS community_area, COUNT(*) AS num_crimes
FROM chicago_socioeconomic_data
JOIN chicago_crime_data ON chicago_socioeconomic_data.ca = chicago_crime_data.community_area
GROUP BY chicago_socioeconomic_data.ca
ORDER BY num_crimes DESC
LIMIT 1;

 * sqlite:///socioeconomic.db
Done.

[(25.0, 59)]

Double-click **here** for a hint

<!--
Query for the 'community area number' that is most crime prone.
-->

### Problem 9

##### Use a sub-query to find the name of the community area with highest hardship index

In [47]:
%%sql

SELECT community_area_name
FROM chicago_socioeconomic_data
WHERE hardship_index = (
    SELECT MAX(hardship_index)
    FROM chicago_socioeconomic_data
)

 * sqlite:///socioeconomic.db
Done.

[('Riverdale',)]

### Problem 10

##### Use a sub-query to determine the Community Area Name with most number of crimes?

In [50]:
%%sql
SELECT chicago_socioeconomic_data.ca AS community_area, community_area_name, COUNT(*) AS num_crimes
FROM chicago_socioeconomic_data
JOIN chicago_crime_data ON chicago_socioeconomic_data.ca = chicago_crime_data.community_area
GROUP BY chicago_socioeconomic_data.ca
ORDER BY num_crimes DESC
LIMIT 1;

 * sqlite:///socioeconomic.db
Done.

[(25.0, 'Austin', 59)]

Copyright © 2020 This notebook and its source code are released under the terms of the [MIT License](https://bigdatauniversity.com/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).

## Author(s)

<h4> Hima Vasudevan </h4>
<h4> Rav Ahuja </h4>
<h4> Ramesh Sannreddy </h4>

## Contribtuor(s)

<h4> Malika Singla </h4>

## Change log

| Date       | Version | Changed by        | Change Description                             |
| ---------- | ------- | ----------------- | ---------------------------------------------- |
| 2022-03-04 | 2.5     | Lakshmi Holla     | Changed markdown.                   |
| 2021-05-19 | 2.4     | Lakshmi Holla     | Updated the question                           |
| 2021-04-30 | 2.3     | Malika Singla     | Updated the libraries                          |
| 2021-01-15 | 2.2     | Rav Ahuja         | Removed problem 11 and fixed changelog         |
| 2020-11-25 | 2.1     | Ramesh Sannareddy | Updated the problem statements, and datasets   |
| 2020-09-05 | 2.0     | Malika Singla     | Moved lab to course repo in GitLab             |
| 2018-07-18 | 1.0     | Rav Ahuja         | Several updates including loading instructions |
| 2018-05-04 | 0.1     | Hima Vasudevan    | Created initial version                        |

## <h3 align="center"> © IBM Corporation 2020. All rights reserved. <h3/>